@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  border-collapse: collapse;
}
p {
  font-size: 12px;
  color: #282828;
  font-weight: bold;
}

body {
  min-width: fit-content;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.bg {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.tag-github {
  border-radius: 25%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  float: right;
  right: 5%;
}

.tag-insta {
  border-radius: 25%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  float: right;
  right: 5%;
}

.mainbox {
  border: 5px solid #ebebeb;
  width: 610px;
  text-align: left;
  margin-left: 50%;
  margin-right: auto;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0, 1);
  top: 50%;
  left: 50%;
  background: #dbc6c65b;
}

.title-box {
  text-align: left;
  overflow: hidden;
}

p {
  font-size: 20px;
}
.title {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #282828;
  float: left;
  border-bottom: 1px solid #ebebed;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ebebed;
  margin-bottom: 16px;
  padding-bottom: 5px;
  padding-top: 10px;
  color: #99ccff;
}

.about-me {
  /* font-size: 20px;
  min-width: 11px;
  white-space: nowrap;
  margin: 0;
  position: absolute;
  color: transparent; */
}
.about-me::before {
  /* content: "안녕하세요 개발자를 꿈꾸고 있는 김영수 입니다.";
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 3s steps(26); */
}

.tag-github:hover {
  content: "누르시면 저의 인스타그램으로 이동합니다.";
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 3s steps(26);
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.img-me {
  width: 150px;
  height: 150px;
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: left;
  margin-right: 10px;
  border-radius: 20%;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.text {
  display: table-cell;
  border-right: 0.05em solid black;
  animation: cursor 0.5s ease infinite;
}
