@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: moggol;
  src: url("font/DungGeunMo.eot");
  src: url("font/DungGeunMo.woff");
  src: url("font/DungGeunMo.woff2");
}

* {
  font-family: "moggol", serif;
  list-style: none;
  border-collapse: collapse;
}

body {
  min-width: fit-content;
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.bg {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ebebed;
  margin-bottom: 16px;
  padding-bottom: 5px;
  padding-top: 10px;
  color: #99ccff;
}

p {
  font-size: 20px;
  color: #282828;
  font-weight: bold;
}

.mainbox {
  border: 5px solid #ebebeb;
  width: 610px;
  text-align: left;
  margin-left: 50%;
  margin-right: auto;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0, 1);
  top: 50%;
  left: 50%;
  background: #dbc6c65b;
}

.title-box {
  text-align: left;
  overflow: hidden;
}

.title {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #282828;
  float: left;
  border-bottom: 1px solid #ebebed;
}

.img-me {
  width: 150px;
  height: 150px;
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: left;
  margin-right: 10px;
  border-radius: 20%;
}

.tag-github {
  border-radius: 25%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  float: right;
  right: 5%;
}

.tag-insta {
  border-radius: 25%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  float: right;
  right: 5%;
}
.tag-insta:hover {
  width: 75px;
  height: 75px;
}
.tag-github:hover {
  width: 75px;
  height: 75px;
}

.comment {
  width: 588px;
  height: 100px;
  border: 1px solid whitesmoke;
  text-align: left;
  background: #f1ebeb00;
  padding: 10px 10px 0px 10px;
}

.text {
  display: table-cell;
  vertical-align: middle;
  border-right: 0.05em solid black;
  animation: cursor 0.5s ease infinite;
}

.hobby-box {
  text-align: left;
  overflow: hidden;
}

.tag-hobby {
  border-radius: 25%;
  width: 100px;
  height: 100px;
  margin: 20px 50px 10px 50px;
  float: left;
  right: 5%;
}

@keyframes typing {
  /* 타이핑 애니메이션*/
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes cursor {
  /* 커서 애니메이션*/
  50% {
    border-color: transparent;
  }
}
